.profile{
    width: 350px;
    height: 400px;
    text-align: center;
}
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 500px;
}
.detail{
    margin: 10px 30px;
    font-size:20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
}
.edit{
    margin-top: 40px;
}
.edit button{
    margin: 3px 0px;
    padding: 10px 60px;
}