<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Phone</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-purple-900 text-white">
        <nav class="flex justify-between">
            <img src="../static/1.jpeg " class="w-4" alt="">
        <ul class="px-20 py-4 flex space-x-14 justify-end"> 
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>Service</li>
        </ul>
    </nav>
    </div>
</body>
</html>