*{
    margin: 0%;
    padding: 0%;
}
.head{
    background-color: rgb(120, 192, 221);
}
.body{
    background-image: url("https://wallpapercave.com/wp/ixmt8JQ.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   height: 80vh;
   background-position:center;
   box-sizing: border-box;
}
.row{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}
.col{
    background: white;
    height: 200px;
    width: 260px;
    padding: 0 0;
    margin: 30px 60px;
    font-size: 22px;
    text-align: center;
    font-family: sans-serif;
}
.img{
    width: 150px;
    height: 100px;
}
.links{
   text-decoration: none;
   color: black;
}
.links:hover{
    color: red;
}
.links:active{
    color: blue;
}
footer{
    background: skyblue;
    height: 70px;
    width: 100%;
   text-decoration: none;
   list-style: none;
   font-size: 30px;
   font-family: sans-serif;
   text-align: center;
   position: absolute;
   bottom: 0%;
}
ul{
    padding: 15px 0;
}
li{
    display: inline;
}
#register-link{
    border-right: black 1px solid ;
    padding-right:60px ;
}
#Help-link{
    padding-left: 60px;
}